#login-form > form {
  h2 {
    margin-bottom: 1rem;
  }

  p {
    margin-top: 0rem;
  }

  .form-label {
    font-weight: 600;
  }

  .form-input {
    margin-bottom: 0.4rem;
  }

  button {
    margin-top: 0.5rem;
  }
}
